<div ng-if="edit">
  <div class="setup-row">
    <input type="text" name="playerName" placeholder="Player Name" ng-model="data.name" required></input>
  </div>
  <div class="setup-row color-setup-row">
    <i class="mana mana-token black btn" ng-class="{selected: hasColor('black')}" ng-click="toggleColor('black')" title="Black"></i>
    <i class="mana mana-token blue btn" ng-class="{selected: hasColor('blue')}" ng-click="toggleColor('blue')" title="Blue"></i>
    <i class="mana mana-token white btn" ng-class="{selected: hasColor('white')}" ng-click="toggleColor('white')" title="White"></i>
    <i class="mana mana-token red btn" ng-class="{selected: hasColor('red')}" ng-click="toggleColor('red')" title="Red"></i>
    <i class="mana mana-token green btn" ng-class="{selected: hasColor('green')}" ng-click="toggleColor('green')" title="Green"></i>
  </div>
</div>
<div ng-if="!edit" class="game" ng-class="{eliminated: data.score < 1}">
  <div class="score" ng-bind="data.score" ng-class="{danger: data.score < 6}"></div>
  <div class="player-name" ng-bind="data.name"></div>
  <div class="deck-colors" ng-hide="data.score < 1">
    <i class="mana mana-token black selected" ng-if="hasColor('black')" title="Black"></i>
    <i class="mana mana-token blue selected" ng-if="hasColor('blue')" title="Blue"></i>
    <i class="mana mana-token white selected" ng-if="hasColor('white')" title="White"></i>
    <i class="mana mana-token red selected" ng-if="hasColor('red')" title="Red"></i>
    <i class="mana mana-token green selected" ng-if="hasColor('green')" title="Green"></i>
  </div>
  <div class="deck-colors warning-message" ng-show="data.score < 1">Defeated</div>
  <div class="actions">
    <div class="btn-shape add" ng-click="updateScore(1)"></div>
    <div class="btn-shape subtract" ng-click="updateScore(-1)"></div>
  </div>
</div>
